.solid{border: 100px solid bisque;
    text-align: center;
    background-color: bisque;
    
}

#verdi{
    color:green ;
}

.imagem1{
    position: absolute;
    right: 50px;
    top: 10px;
}

.imagem2{
    position: absolute;
    left: 50px;
    top: 10px;
}

.solid2{border: 20px solid lightskyblue;
       background-color: lightskyblue;
      
}

.cinsa{
    background-color: lightgray;
}

.introducao{
    text-align: center;
}

#livro1{
    margin-left: 200px;
   
    
}
 
#livro2{
     
    

    margin-left: 500px;
    
    
}

#livro3{
    
    margin-left: 200px;

    
}

.greey{
    color: indigo;
    
    font-size: 20pt;
    
}

#home{
    color: indigo;
    margin-left: 400px;
    display: inline;
}

#liv{
    color: indigo;
    margin-left: 450px;
    display: inline;
}

#videos{
    color:indigo;
    margin-left: 200px;
    display: inline;
}

#cont{
    color:indigo;
    margin-left: 200px;
    display: inline;
}

#anoss{
    margin-left: 450px;
}

#mapa{
    margin-left: 300px;
}



    
    
