.solid{border: 100px solid bisque;
    text-align: center;
    background-color: bisque;
    border-width: 75px;
}

#verdi{
    color:green ;
    font-size: 40pt;
}

.imagem1{
    position: absolute;
    right: 50px;
    top: 10px;
}

.imagem2{
    position: absolute;
    left: 50px;
    top: 10px;
}

.solid2{border: 20px solid lightskyblue;
       background-color: lightskyblue;
}

.cinsa{
    background-color: lightgray;
}

.introducao{
    text-align: center;
    font-size: xx-large;
}

#livro1{
    display: inline;
    margin-left: 500px;

}
 
#livro2{
     
    display: inline;
    margin-right: 60px;
    margin-left: 60px;
}

#livro3{
    display: inline;
    margin-right: 500px;
  
}

.greey{
    color: indigo;
    
    font-size: 20pt;
    
}

#home{
    color: indigo;
    margin-left:600px;
    display: inline;
}

#liv{
    color: indigo;
    margin-left:80px;
    margin-right:80px;
    display: inline;
}

#videos{
    color:indigo;
    margin-left:80px;
    margin-right:80px;
    display: inline;
}

#cont{
    color:indigo;
    margin-left: 100px;
    display: inline;
}

#anoss{
    display: inline;
    margin-left:450px;
    margin-right:50px;
}

#mapa{
    display: inline;
    margin-left:50px;
    margin-right:50px;
}

.tabela{
    border-style: dashed;
    font-size: xx-large; 
    text-align: center;
   
}

.caixa{
    text-align: center;
    background-color:yellow ;
}



    
    
