body {
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(to left, Cornsilk, LemonChiffon);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px; 
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

*{
    font-family: "Comic Sans MS";
}