body {
    background-image:linear-gradient(to left, Cornsilk, LemonChiffon );
}

#azu{
    color:blue
}


#rocho{
    color:rgb(202, 19, 202)
}

#amarilho{
    color:yellow
}

#azu:hover{
    background-color: orange;
    font-size: 18px;
}

#rocho:hover{
    background-color: orange;
    font-size: 18px;
}

#amarilho:hover{
    background-color: orangered;
    font-size: 18px;
}

.solid{border: 5px solid black;}
.padding{padding: 5px;}
.shadow{box-shadow: 3px 3px gray;}
.radius{border-radius: 10px;}

.center{
    display: flex;
    justify-content: center;
}

.iframecontainer{
    display: flex;
    justify-content: space-between;
    margin-right: 300px;
}





