<!DOCTYPE html>
<html>
    <head>
        <title>Resposta</title>
        <meta charset="UTF-8">
        <link href="resposta1.css" rel="stylesheet">
        
    </head>
    <body>
        <h1>Cadastro realizado com sucesso!</h1>
        
        <form>
        <input type="submit" value="Clique aqui para Logar!" formmethod="post" formaction="/login">
        </form>

    </body>
</html>