<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <link href="resposta1.css" rel="stylesheet">

    </head>
    <body>
        <h1><%= mensagem %></h1>
        <a href="home.html">Clique para prosseguir!</a>
    </body>
</html>