<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">

    </head>
    <body>
        <h1><%= mensagem %></h1>
        <a href="/login">Voltar para Login</a>
    </body>
</html>