<!DOCTYPE html>
<html>
    <head>
        <title>Resposta</title>
        <meta charset="UTF-8">
        
    </head>
    <body>
        <h1>Cadastro Concluído!</h1>
        <p>Nome: <%= nome %></p>
        <p>Login: <%= login %></p>
        <p>Senha: <%= senha %></p>
        <p>Nascimento: <%= nasc %></p>

        <form>
            <input type="submit" value="Clique aqui para Logar!" formmethod="post" formaction="/login">
        </form>

    </body>
</html>