<!DOCTYPE html>
<html>
    <head>
        <title>Resposta</title>
        <meta charset="UTF-8">
        <link href="resposta1.css" rel="stylesheet">
    </head>
    <body>
        <h1><%= status %></h1>
       
    </body>
</html>