<!DOCTYPE html>
<html>
    <head>
        <title>Resposta</title>
        <meta charset="UTF-8">
        <link href="resposta1.css" rel="stylesheet">
        
    </head>
    <body>
        <h1>Post Cadastrado!</h1>
        <a href="/blog">Home</a>
        
        

    </body>
</html>